html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", 'Arial', 'sans-serif';
    font-size: 18px;
    line-height: normal;
    transition: all 0.5s ease-in-out;

}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

main {
    flex-grow: 1;
}

li, a {
    text-decoration: none;
    list-style: none;
}

.btin {
    width: 50px;
    height: 25px;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-color: black;
}

.spani {
    background-color: rgb(255, 255, 255);
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-left: 2px;
    transition: all 0.5s ease-in-out;

}

.tun {
    background-color: black;
    transition: all 0.5s ease-in-out;


    h1,h2, h3, h4, h5, h6, .header__link, p, span {
        color: white;
        transition: all 0.5s ease-in-out;

    }

    .btin {
        background-color: white;
    }

    .spani {
        margin-left: 30px;
        transition: all 0.5s ease-in-out;
        background-color: black;
    }
}

